
 
  ul.menu,
  ul.menu li {list-style: none; margin: 0; padding: 0}
  ul.menu li {margin: 3px 0; padding-left: 18px; font-size: 13px}

  ul.menu li.depth-1 {padding-left: 27px}
  ul.menu li.depth-1-expanded {background: url(images/menu-expanded-level-1.png) no-repeat 0 .1em}
  ul.menu li.depth-1-collapsed {background: url(images/menu-collapsed-level-1.png) no-repeat 0 .1em}

  ul.menu li.depth-2 {padding-left: 18px}
  ul.menu li.depth-2-expanded {background: url(images/menu-expanded.png) no-repeat 0 .1em}
  ul.menu li.depth-2-collapsed {background: url(images/menu-collapsed.png) no-repeat 0 .1em}

  ul.menu li.depth-3,
  ul.menu li.depth-3 li {padding-left: 16px; font-size: 11px}

  ul.menu a.active-trail {color: #000 !important}


/**
 * Primary navigation
 */

  .nav_pri {}

  .nav_pri-inline {}
  .nav_pri-inline li {display: inline}


/**
 * Secondary navigation
 */

  .nav_sec {}

  .nav_sec-inline {}
  .nav_sec-inline li {display: inline}
