

/**
 * Body element
 */

 * {font-size: 1em}
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma;
    font-size: 12px;
    color: #000;
    background: #5a5a5a}

  .element-invisible {
    position: absolute;
    top: -10000px;
    left: -10000px}
    
/**
 * Markup free clearing (http://perishablepress.com/press/2009/12/06/new-clearfix-hack)
 */

  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden}
  * html .clearfix {height: 1%} /* IE6 */
  *:first-child + html .clearfix {min-height: 1%} /* IE7 */


/**
 * Table elements
 */

  table.struct {
    margin: 0;
    border-collapse: collapse;
    border: 0;
    background: none}

  td.struct,
  th.struct {
    padding: 0;
    vertical-align: top;
    border: 0;
    background: none}


/**
 * Page struct
 */

  .page {}
  .page .L_Field {font-size: 1px; line-height: 1px}
  .page .M_Field {width: 980px}
  .page .R_Field {font-size: 1px; line-height: 1px}


  .head_part {margin-top: 15px !important}
  .head_part .column_1 {width: 220px; background: #f5f5f5}
  .head_part .column_2 {background: #fff}
  .head_part .column_3 {width: 220px; background: #f5f5f5}
  .head_part .column_1-cv_1 {margin: 10px}
  .head_part .column_2-cv_1 {margin: 10px}
  .head_part .column_3-cv_1 {margin: 10px}
  .head_part .column_1-cv_2 {width: 100%}
  .head_part .column_2-cv_2 {width: 100%}
  .head_part .column_3-cv_2 {width: 100%}
  .head_part .column_1 .m_size {padding: 0 110px}
  .head_part .column_2 .m_size {padding: 0 200px}
  .head_part .column_3 .m_size {padding: 0 110px}


  .body_part {}
  .body_part .column_1 {width: 220px; background: #f5f5f5}
  .body_part .column_2 {height: 500px; background: #fff}
  .body_part .column_3 {width: 220px; background: #f5f5f5}
  .body_part .column_1-cv_1 {margin: 10px}
  .body_part .column_2-cv_1 {margin: 10px}
  .body_part .column_3-cv_1 {margin: 10px}
  .body_part .column_1-cv_2 {width: 100%}
  .body_part .column_2-cv_2 {width: 100%}
  .body_part .column_3-cv_2 {width: 100%}
  .body_part .column_1 .m_size {padding: 0 110px}
  .body_part .column_2 .m_size {padding: 0 200px}
  .body_part .column_3 .m_size {padding: 0 110px}


  .foot_part {margin-bottom: 30px !important}
  .foot_part .column_1 {width: 220px; background: #f5f5f5}
  .foot_part .column_2 {background: #fff}
  .foot_part .column_3 {width: 220px; background: #f5f5f5}
  .foot_part .column_1-cv_1 {margin: 10px}
  .foot_part .column_2-cv_1 {margin: 10px}
  .foot_part .column_3-cv_1 {margin: 10px}
  .foot_part .column_1-cv_2 {width: 100%}
  .foot_part .column_2-cv_2 {width: 100%}
  .foot_part .column_3-cv_2 {width: 100%}
  .foot_part .column_1 .m_size {padding: 0 110px}
  .foot_part .column_2 .m_size {padding: 0 200px}
  .foot_part .column_3 .m_size {padding: 0 110px}


  .column_3-invisible {display: none}


  .block-region {
    clear: both;
    margin: 5px 0;
    padding: 5px;
    font-size: 11px;
    color: #000 !important;
    text-align: center;
    border: 1px solid #b46b33;
    background: #ffc9a0}


/**
 * Logo
 */

  #site_logo {float: left}
  #site_logo img {float: left}


/**
 * TABLE elements
 */

  table {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
    background: #fafafa}

  table thead th {
    padding: 12px 10px !important;
    font-weight: bold;
    color: #555;
    text-align: left;
    border-bottom: 1px solid #000;
    background-color: #ddd}
  table tbody th {}

  table td,
  table th {padding: 8px 10px}

  table tr.odd {background-color: #f9f9f9}
  table tr.even {background-color: #efefef}
  table tr.odd td.active {background-color: #f3f3f3}
  table tr.even td.active {background-color: #e9e9e9}

  table tr.info {background-color: #edf5fa}
  table tr.drag {background-color: #ffb}
  table tr.drag-previous {background-color: #ffd}

  table tr.region-title td,
  table td.module,
  table td.container,
  table td.category {
    padding: 10px !important;
    font-weight: bold;
    color: #fff;
    background: #878787 url(images/region-title-bg.png) repeat-x}

  table tr.region-message {
    background-color: #ddd}

  table th a:link,
  table th a:visited {color: #6f9dbd}

  td.active {
    background-color: #ddd}
  tr.selected td {
    background: #ffc}
  td.checkbox,
  th.checkbox {
    text-align: center}


/**
 * A elements
 */

  a {color: #1053a1}
  a:visited {color: #1053a1}
  a:hover {color: #000}
  a:active,
  a.active {color: #000 !important}
  a:link {}


/**
 * HX elements
 */

  h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0; font-weight: bold}
  h1 {font-size: 1.4em}
  h2 {font-size: 1.3em}
  h3 {font-size: 1.2em}
  h4 {font-size: .95em}
  h5 {font-size:  .9em}
  h6 {font-size: .85em}


/**
 * P elements
 */

  p {margin: .5em 0; padding: 0}


/**
 * HR elements
 */

  hr {
    height: 1px;
    margin: 0;
    padding: 0;
    border: none;
    background: #000}


/**
 * UL elements
 */

  ul {
    margin: .5em 0 1em;
    padding: 0 0 0 1.5em;
    list-style-image: url(override_styles/misc/images/menu-leaf.png)}
  ul li {
    margin: .15em 0 .15em .5em;
    padding-bottom: .1em}

  ul li.expanded {list-style-image: url(override_styles/misc/images/menu-expanded.png)}
  ul li.collapsed {list-style-image: url(override_styles/misc/images/menu-collapsed.png)}
  ul li.leaf {list-style-image: url(override_styles/misc/images/menu-leaf.png)}
  li.leaf {margin: .15em 0 .15em .5em; padding-bottom: .1em}

  ul li.leaf a,
  ul li.expanded a,
  ul li.collapsed a {}

  ul.inline li {
    margin: 0;
    padding: 0 1em 0 0;
    background: none}

  .block ul {
    margin: .5em 0 1em;
    padding: 0 0 0 1.5em}

  .item-list ul {
    margin: .35em 0 0 -0.5em}
  .item-list ul li {
    margin: .15em 0 .15em .5em;
    padding-bottom: .1em}


/**
 * OL elements
 */

  ol {
    list-style-image: none;
    margin: 0.5em 0 1em;
    padding: 0 0 0 1.5em}
  ol li {
    margin: 0.15em 0 0.15em .5em;
    padding-bottom: .1em}


  ol.task-list {margin-left: 0; list-style-type: none; list-style-image: none}
  ol.task-list li {padding: 0.5em 1em 0.5em 2em}
  ol.task-list li.active {background: transparent url(override_styles/misc/images/task-list.png) no-repeat 3px 50%}
  ol.task-list li.done {color: #393; background: transparent url(override_styles/misc/images/watchdog-ok.png) no-repeat 0px 50%}
  ol.task-list li.active {margin-right: 1em}


/**
 * DL elements
 */

  dl {margin: 0.5em 0 1em 1.5em}
  dl dt {}
  dl dd {margin: 0 0 .5em 1.5em}


/**
 * DL elements
 */

  img, a img {border: none}


/**
 * breadcrumbs
 */

  .breadcrumb {
    padding: 5px 0;
    font-size: 1em;
    border: 1px dashed #aaa;
    border-width: 0 0 1px 0}
  .breadcrumb a {
    white-space: nowrap}
  .breadcrumb .gt {
    padding: 0 0 0 2px;
    font-family: Courier;
    line-height: 1em;
    color: #aaa}


/**
 * Tabs
 */
 
  .tabs {margin: 10px 0 30px 0}


  .tabs_bounder {
    height: 2px;
    font-size: 1px;
    line-height: 1px;
    background: #6e6f6f}


  .tabs ul,
  .tabs li {
    margin: 0;
    padding: 0;
    list-style: none}


  .tabs_pri {
    float: left;
    position: relative}
  .tabs_pri li,
  .tabs_pri li * {
    float: left}

  .tabs_pri li {
    margin-top: 4px;
    margin-right: 4px}
  .tabs_pri li a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap}
  .tabs_pri li a .cv-1 {padding: 0 0 0 11px; background: url(images/tabs_pri-parts-bg.png) no-repeat}
  .tabs_pri li a .cv-2 {padding: 0 11px 0 0; background: url(images/tabs_pri-parts-bg.png) no-repeat 100% -50px}
  .tabs_pri li a .cv-3 {padding: 5px 4px 6px 4px; background: #858585 url(images/tabs_pri-parts-bg.png) repeat-x 0 -100px}

  .tabs_pri li a:hover,
  .tabs_pri li a.active {color: #fff !important}
  .tabs_pri li a:hover .cv-3,
  .tabs_pri li a.active .cv-3 {text-decoration: underline !important}

  .tabs_pri li a:hover .cv-1 {background-position: 0 -150px}
  .tabs_pri li a:hover .cv-2 {background-position: 100% -200px}
  .tabs_pri li a:hover .cv-3 {background-position: 0 -250px; background-color: #6e6f6f}

  .tabs_pri li a.active .cv-1 {background-position: 0 -150px}
  .tabs_pri li a.active .cv-2 {background-position: 100% -200px}
  .tabs_pri li a.active .cv-3 {background-position: 0 -250px; background-color: #6e6f6f}



  .tabs_sec {
    position: relative;
    margin: 0 0 0 30px !important;
    padding: 4px 0 5px 8px !important;
    font-size: 1em;
    border-left: 1px solid #6e6f6f}


/**
 * Vertical tabs
 */

  div.vertical-tabs {border-color: #000; background-color: #f7f7f7}
  div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {padding: .5em 1em}
  div.vertical-tabs ul.vertical-tabs-list {border-color: #000}
  div.vertical-tabs ul.vertical-tabs-list li {background-color: #fff; border-color: #000}
  div.vertical-tabs ul.vertical-tabs-list li strong {font-weight: normal}
  div.vertical-tabs ul.vertical-tabs-list li.selected strong {font-weight: bold}
  div.vertical-tabs ul.vertical-tabs-list li.selected small {color: #898989}
  div.vertical-tabs ul.vertical-tabs-list li.selected {background: #f7f7f7}
  div.vertical-tabs ul.vertical-tabs-list li.selected.first {}
  div.vertical-tabs ul.vertical-tabs-list li.selected a strong {color: #494949}

  div.vertical-tabs fieldset {margin: 0}
  div.vertical-tabs fieldset .fieldset-wrapper {padding: 0; border: 0; background: none !important}


/**
 * FORM elements
 */

  form {
    margin: 0;
    padding: 0}

  label {display: block; font-weight: bold}
  label.option {display: inline; font-weight: normal}


  .form-item,
  .form-actions {
    margin-top: 1em;
    margin-bottom: 1em}

  .form-checkboxes,
  .form-radios,
  .form-checkboxes .form-item,
  .form-radios .form-item {margin: .25em 0}

  .form-text,
  .form-textarea,
  .form-select,
  .form-file {
    font-family: Tahoma;
    font-size: 1em;
    color: #000;
    border: 1px solid #777;
    background: #fff}

  .form-checkboxes .form-item,
  .form-radios .form-item {
    margin-top: .4em;
    margin-bottom: .4em}
  input.form-checkbox,
  input.form-radio {vertical-align: middle}



  .form-button,
  .form-submit {
    margin: 20px 5px 10px 0;
    font-family: Tahoma;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    border: 1px solid #9a9a9a;
    background: #fff url(images/button-bg.png) repeat-x 0 50%}

  .button-ex {display: inline-block; margin: 20px 5px 10px 0}
  .button-ex .cv-n {display: inline-block; background: url(images/button-ex-bg.png)}
  .button-ex .cv-1 {padding: 0 0 0 5px; background-repeat: no-repeat}
  .button-ex .cv-2 {padding: 0 5px 0 0; background-repeat: no-repeat; background-position: 100% -22px}
  .button-ex .cv-3 {padding: 0; background-repeat: repeat-x; background-color: #ebebeb; background-position: 0 -44px}
  .button-ex .form-button,
  .button-ex .form-submit {
    height: 14px;
    margin: 3px 0 5px 0 !important;
    padding: 0 !important;
    line-height: 12px;
    border: 0;
    background: none}

  .button-ex .ajax-progress-throbber {
    position: absolute;
    padding: 2px 10px;
    background: #fff}



  .form-type-radio .description,
  .form-type-checkbox .description {
    margin-left: 2.4em}

  tr.odd .form-item,
  tr.even .form-item {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap}

  .form-item .description {
    padding: 5px 0;
    font-size: .9em;
    color: #aaa;
    cursor: default}

  .marker,
  .form-required {
    color: #ff5500}

  .form-item input.error,
  .form-item textarea.error,
  .form-item select.error {
    border: 1px solid red}


/**
 * Resizable textareas.
 *
 * @see textarea.js
 */

  .form-textarea-wrapper textarea {
    display: block;
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box}

  .resizable-textarea .grippie {
    height: 9px;
    overflow: hidden;
    cursor: s-resize;
    border: 1px solid #ddd;
    border-top: 0;
    background: #eee url(images/grippie.png) no-repeat 50% 2px}

  .resizable-textarea textarea {
    border-bottom: 0}


/**
 * Collapsible fieldsets
 */

  fieldset {
    position: relative;
    margin: 30px 0 10px 0;
    padding: 0;
    border: 0}

  fieldset legend {
    position: absolute;
    width: 100%;
    margin: -21px 0 0 0;
    padding: 0}

  fieldset legend .fieldset-legend {
    cursor: default;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 15px;
    white-space: nowrap}
  fieldset legend .fieldset-legend span.summary {
    position: absolute;
    margin-left: .5em}

  fieldset legend a.fieldset-title {
    display: block;
    color: #fff !important}

  fieldset legend .cv-n {display: block}
  fieldset legend .cv-1 {padding: 0 0 0 33px; background: url(images/fieldset-parts-bg.png) no-repeat}
  fieldset legend .cv-2 {padding: 0 12px 0 0; background: url(images/fieldset-parts-bg.png) no-repeat 100% -42px}
  fieldset legend .cv-3 {padding: 3px 10px; background: #909090 url(images/fieldset-parts-bg.png) repeat-x 0 -21px}

  html.js fieldset.collapsible .cv-1 {background-position: 0 -84px}
  html.js fieldset.collapsed .cv-1 {background-position: 0 -105px}
  html.js fieldset.collapsed .cv-2 {background-position: 100% -63px}

  fieldset .fieldset-wrapper {
    padding: 10px;
    border: 1px solid #777}

  body fieldset .fieldset-wrapper,
  body fieldset fieldset fieldset .fieldset-wrapper,
  body fieldset fieldset fieldset fieldset fieldset .fieldset-wrapper {background-color: #f7f7f7 !important}
  body fieldset fieldset .fieldset-wrapper,
  body fieldset fieldset fieldset fieldset .fieldset-wrapper {background-color: #fff !important}

  fieldset ul.clearfix li {
    margin: 0;
    padding: 0;
    background-image: none}


/**
 * Titles
 */

  .page_title {position: relative; margin: 10px 0}
  .node_title {position: relative; margin: 10px 0}
  .block_title {}


/**
 * dblog.module
 */

  tr.dblog-user {background-color: #fcf9e5}
  tr.dblog-user td.active {background-color: #fbf5cf}
  tr.dblog-content {background-color: #fefefe}
  tr.dblog-content td.active {background-color: #f5f5f5}
  tr.dblog-warning {background-color: #fdf5e6}
  tr.dblog-warning td.active {background-color: #fdf2de}
  tr.dblog-error {background-color: #fbe4e4}
  tr.dblog-error td.active {background-color: #fbdbdb}
  tr.dblog-page-not-found {background: #d7ffd7}
  tr.dblog-access-denied {background: #d7ffd7}
  tr.dblog-page-not-found td.active {background: #c7eec7}
  tr.dblog-access-denied td.active {background: #c7eec7}


/**
 * Status report colors
 */

  table.system-status-report tr.error,
  table.system-status-report tr.error th {color: #200; border-color: #ebb; background-color: #fcc}
  table.system-status-report tr.warning,
  table.system-status-report tr.warning th {border-color: #eeb; background-color: #ffd}
  table.system-status-report tr.ok,
  table.system-status-report tr.ok th {border-color: #beb; background-color: #dfd}












  
  


.submitted,
.description,
.vertical-tab-button .summary {
  font-size: 0.92em;
  color: #898989;
}

.description .more-help-link {
  font-size: 0.92em;
}

.description {
  line-height: 150%;
  margin-bottom: 0.75em;
  color: #898989;
}

.preview {
  margin: .75em 0 .75em;
  padding: .5em 1em;
}

.form-actions {
  margin: 2em 0 1em;
}


/**
 * Skip link
 */
#skip-link {
  left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 1000;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  font-size: 0.94em;
  line-height: 1.7;
  margin-top: 1px;
  padding: 2px 10px;
  text-decoration: none;
  -khtml-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-radius: 0 0 2px 2px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0;
}



/**
 * Nodes & comments
 */

  .node {
    margin: 0 -16px 1.5em;
    padding: 1.5em 16px}

  ul.links li,
  ul.inline li {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 1em;
    background-image: none}

  .node .links,
  .comment .links {
    text-align: left;
    padding-left: 0}

  .user-picture,
  .comment .submitted {
    float: right;
    clear: right;
    padding-left: 1em}

  .new {
    float: right;
    font-size: 0.92em;
    font-weight: bold;
    color: #ffae00}

  .node-sticky {
    padding: 1em;
    background-color: #fff;
    border: 1px solid #e0e5fb;
    margin-bottom: 2em;
  }

  .preview .node,
  .preview .comment,
  .node-sticky {
    margin: 0;
    padding: 0.5em 0;
    border: 0;
    background: 0}


#comments {
  position: relative;
  top: -1px;
  border-bottom: 1px solid #e9eff3;
  margin: 1.5em -25px 0;
  padding: 0 25px;
}

#comments h2.comments {
  margin: 0 -25px;
  padding: .5em 25px;
  background: #fff;
}

.comment {
  margin: 0 -25px;
  padding: 1.5em 25px 1.5em;
  border-top: 1px solid #e9eff3;
}

.indented {
  margin-left: 25px; /* LTR */
}

.comment h3 a.active {
  color: #494949;
}

.node .content,
.comment .content {
  margin: 0.6em 0;
}

/**
 * Aggregator.module
 */
#aggregator {
  margin-top: 1em;
}
#aggregator .feed-item-title {
  font-size: 160%;
  line-height: 130%;
}
#aggregator .feed-item {
  border-bottom: 1px solid #e9eff3;
  margin: -1.5em -31px 1.75em;
  padding: 1.5em 31px;
}
#aggregator .feed-item-categories {
  font-size: 0.92em;
}
#aggregator .feed-item-meta {
  font-size: 0.92em;
  color: #898989;
}


/**
 * Menu.module
 */
tr.odd td.menu-disabled {
  background-color: #edf5fa;
}
tr.even td.menu-disabled {
  background-color: #fff;
}

/**
 * Poll.module
 */
.poll .bar {
  background: #fff;
  border: solid #f0f0f0;
  border-width: 0 1px 1px;
}

.poll .bar .foreground {
  background: #71a7cc;
}

.poll .percent {
  font-size: .9em;
}

/**
 * Autocomplete
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}


/**
 * Syndication icons and block
 */
#block-node-syndicate h2 {
  float: left; /* LTR */
  padding-right: 20px; /* LTR */
}

#block-node-syndicate img,
.feed-icon {
  float: right; /* LTR */
  padding-top: 4px;
}

#block-node-syndicate .content {
  clear: right; /* LTR */
}

/**
 * Login Block
 */
#user-login-form {
  text-align: center;
}
#user-login-form ul {
  text-align: left; /* LTR */
}
#user-login .openid-links {
  padding: 0;
}
#user-login-form .openid-links {
  padding-left: 0.5em; /* LTR */
}
#user-login-form .openid-links li.user-link {
  padding-left: 1em; /* LTR */
}

/**
 * User profiles.
 */
.profile {
  margin-top: 1.5em;
}
.profile h3 {
  border-bottom: 0;
  margin-bottom: 1em;
}
.profile dl {
  margin: 0;
}
.profile dt {
  font-weight: normal;
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.45em;
}
.profile dd {
  margin-bottom: 1.6em;
}

/**
 * Admin Styles
 */


div.admin-panel,
div.admin-panel .body,
div.admin,
div.admin .expert-link,
div.item-list {
  margin: 0;
  padding: 0;
}

div.admin .left {
  float: left;
  width: 48%;
  margin: 0;
  padding: 0;
}
div.admin .right {
  float: right;
  width: 48%;
  margin: 0;
  padding: 0;
}

  div.admin-panel {
    padding: 1em 1em 1.5em;
    background: #fff}


  div.admin-panel .description {
    margin-bottom: 1.5em}

  div.admin-panel dl {
    margin: 10px 0 3px 0}

  div.admin-panel dd {
    margin: 3px 0 10px 0;
    font-size: .92em;
    color: #898989;
    line-height: 1.3em}




table.system-status-report th {
  border-color: #d3e7f4;
}

#autocomplete li.selected,
tr.selected td,
tr.selected td.active {
  background: #027ac6;
  color: #fff;
}

tr.selected td a:link,
tr.selected td a:visited,
tr.selected td a:active {
  color: #d3e7f4;
}

tr.taxonomy-term-preview {
  opacity: 0.5;
}

tr.taxonomy-term-divider-top {
  border-bottom: none;
}

tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #CCC;
}

.theme-selector h3 {
  margin: 10px 0;
}
.theme-selector .operations li {
  list-style-image: none;
}





