

div.vertical-tabs ul.vertical-tabs-list li.first {
  background-image: none;
}

/* Prevent fieldsets from shifting when changing collapsed state. */
html.js fieldset.collapsible {
  top: -1em;
}

html.js fieldset.collapsed {
  top: 0;
  margin-bottom: 1em;
}

/* Use filter to emulate CSS3 opacity */
tr.menu-disabled {
  filter: alpha(opacity=50);
}

tr.taxonomy-term-preview {
  filter: alpha(opacity=50);
}

/* Fading elements in IE causes the text to bleed unless they have a background. */
#attach-hide label,
#uploadprogress div.message {
  background-color: #ffffff;
}


